<div class="col-md-12">
  <div class="d-block font-weight-bold">
    <div class="d-flex justify-content-between">
      <a href="" [routerLink]="['/articles', article.id]">
        {{ article.title }}
      </a>
      <div *ngIf="showPage">
        <button
          (click)="editArticle(article)"
          class="btn btn-warning btn-sm px-2 mr-3"
        >
          Edit
        </button>
        <button (click)="removeArticle(article)" class="btn btn-danger btn-sm">
          Delete
        </button>
      </div>
    </div>
  </div>
  <p class="my-2">{{ article.body }}</p>
</div>
